#Dia 3

##Temario:

- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de datos
Las estructuras de datos son formas de organizar informacion para trabajar con ellas de manera eficiente

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> Pares clave:valor

Nota:

- Pilas (FILO -> First in, Last out)
- Colas (FILO -> First in, Last out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [1]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']

In [3]:
print(lista_de_compras[6])

jamon

In [4]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [6]:
# Agegar un elemento en una posicion especifica
lista_de_compras.insert(1,"platano") # Esto lo duplica en la lista si lo ejecutas mas de dos veces
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamon',
 'sopa']

In [7]:
print(lista_de_compras)

['manzanas', 'platano', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [8]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("platano")
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [9]:
lista_de_compras.pop() # Sin nada dentro del parentesis borra el ultimo elemento
lista_de_compras.pop(7) # o puedes agarrar la posicion que quieras (pero iniciando desde 0)
# Nota: te retona el numero eliminado

'jamon'

In [10]:
# Podemos recorrer el areglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevos
mantequilla
queso

In [13]:
# len() saca el tama√±o de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [15]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() # .sort() sirve para ordenar la lista de manera ascendente
print(promedios)
# ordenar una lista de manera descendente
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [16]:
# Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [18]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [21]:
# Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"Cali {j}:{cali_j}")
    j += 1
  j = 0
  i += 1

Alumno 1
Cali 1:100
Cali 2:88
Cali 3:93

Alumno 2
Cali 1:99
Cali 2:56
Cali 3:72

## Tuplas
Colecciones ordenadas pero inmutables

In [22]:
# Hagamos un programa donde guardemos fechas de nacimiento de un grupo de en una tupla
fechas = ("10/10/05","22/03/02","17/04/04","2/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '2/02/04')

In [23]:
# ES INMUTABLE
fechas.append("10/06/03") #TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Para cambiar los datos de una tupla hay que convertirlo en lista
fecha_lista = list(fechas) # Aqui ya puedes usar los comandos basicos de una lista

## SETS
Los sets son colecciones SIN orden y que NO permiten elementos duplicados

In [26]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
print(nombre)
print(type(nombre))

{'Juan', 'Diana', 'Angel', 'Eliud'}
<class 'set'>

In [27]:
distintos_datos = {"Angel", 1,"Diana","Juan",4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [28]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [29]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [30]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [31]:
# Union
matutino = {20322,22183,21547,256548}
vespertino = {20322,11111,22222,33333}
# Union pero con .union
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | (vespertino)
print(total_matriculas)

{20322, 256548, 22183, 11111, 21547, 22222, 33333}
{20322, 256548, 22183, 11111, 21547, 22222, 33333}

In [33]:
# Interseccion
ca = {1234,121,646,12414,73434,124124,575234}
al = {1234,11,22,33,444}
# Interseccion con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# Interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [36]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca - al
print(solo_calculo)

{575234, 646, 121, 73434, 124124, 12414}
{575234, 646, 121, 73434, 124124, 12414}

In [39]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
# remove, pop
nombre.remove("Angel") # Puedes eliminar el que tu quieres
print(nombre)
nombre.pop() # Elimina un elemento de manera aleatoria
print(nombre)

{'Juan', 'Diana', 'Eliud'}
{'Diana', 'Eliud'}

In [40]:
# Elimina todo el SET
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave:valor

In [53]:
alumno = {
    #clave      valor
    "nombre": "Jose Carlos",
    "edad": 14,
    "carrera": "Bachillerato",
    "semestre": 1,
    "promedio": 88,
    "calificaciones": [100,94,94,97,100]
}

In [54]:
print("El alumno", alumno["nombre"], "esta estudiando", alumno["carrera"])

El alumno Jose Carlos esta estudiando Bachillerato

In [55]:
# Agregar al diccionario
alumno["area preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Jose Carlos',
 'edad': 14,
 'carrera': 'Bachillerato',
 'semestre': 1,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [56]:
for valor in alumno:
  print(alumno[valor])

Jose Carlos
14
Bachillerato
1
88
[100, 94, 94, 97, 100]
Ciencia de Datos

In [47]:
for clave, valor in alumno.items() # Devuelve una vista de todos los pares clave:valor del diccionario
print(clave,":",valor)

SyntaxError: expected ':' (ipython-input-11032107.py, line 1)

In [57]:
# El metodo .clear() tambien usar aqui
# Temenos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Jose Carlos

In [58]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Jose Carlos'), ('edad', 14), ('carrera', 'Bachillerato'), ('semestre', 1), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Jose Carlos'), ('edad', 14), ('carrera', 'Bachillerato'), ('semestre', 1), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')]
<class 'list'>

In [59]:
# El metodo .values() sirve para obtener los valores del diccionario, tambien se puede usar la interaccion
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Jose Carlos', 14, 'Bachillerato', 1, 88, [100, 94, 94, 97, 100], 'Ciencia de Datos'])

In [60]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [61]:
#.copy() puedes copiar todo el diccionario en una nueva variable
# Update -> Sirve para cambiar los values (valores) (.update())
alumno.update({"semestre":2})
alumno

{'nombre': 'Jose Carlos',
 'edad': 14,
 'carrera': 'Bachillerato',
 'semestre': 2,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}