# DIA

## Temario:
- Tipos de Datos
- Operaciones Matematicas
- Operaciones con String
- Operaciones Logicas
- Operaciones Booleanas

# Tipos de Datos

In [3]:
# Existen los datos:
enteros = 4 # Son numeros sin decimales
flotantes = 99. # Son numeros con decimales
type(flotantes)

float

In [2]:
# Caracteres/ Strings
caracteres = "a"
caneda_caracteres = "todas las letras que quieras"
type(caneda_caracteres)

str

In [ ]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

In [5]:
# Imprimir
print(enteros)
print(caracteres)

4
a

### Espera, el usuario tambien puede ingresar datos

In [7]:
# Con la funcion input, el usuario puede ingresar cualquier tipo de dato
# y podemos guardarlo en alguna variable
name = input("Mi nombre es: ") # te lo guarda como un string
print(name)

num = input("Ingresa un numero: ")
print(num + 1)

Mi nombre es: 2
2
Ingresa un numero: 0

TypeError: can only concatenate str (not "int") to str

In [8]:
num = int(input("Ingresa un numero "))
print(num + 1)

Ingresa un numero 1
2

## Operaciones Matematicas

In [11]:
# 4to nivel de importancia
# Sume Ordinaria
print("Suma Ordinaria")
print(3 + 4) # un 7
variable1,variable2 = 20,40
print(variable1 + variable2)

# Resta Ordinaria
print("Resta Ordinaria")
print(2 - 5)
# Declaracion de Variables
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado) #4.6

Suma Ordinaria
7
60
Resta Ordinaria
-3
4.6

In [14]:
# 3er Nivel de Importancia
# Multiplicacion Ordinaria
print("Multiplicacion Ordinaria")
M1, M2 = 2,3.14
print(M1 * M2) # 6.28
# Division Ordinaria
print("-----------------")
print("Division Ordinaria")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)
#Division de Piso
print("-----------------")
print("Division de Piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)

print( 6 / 2 * 3) # Primero la division

Multiplicacion Ordinaria
6.28
-----------------
Division Ordinaria
0.4
1.2
0.8
-----------------
Division de Piso
0
1
0
9.0

In [15]:
# Potencias
print("Potencias")
print(2 ** 3) # 8
P1, P2 = 7,2
print(P1 ** P2) # 49

Potencias
8
49

In [17]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
print(A)

50.24

## Operacion con String

In [20]:
HM = "Hola Mundo"
print(HM)
a,b = "ta","co"
print(a + b)
print(a + " " + b)

Hola Mundo
taco
ta co

In [21]:
# Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesion
Animal = "Perro"
Nombre = "Yaqui"
Fruta = "Manzana"
Profesion = "Ingeniero"
print(f"Hola soy {Nombre} y soy un {Animal}, me gusta la {Fruta} y soy {Profesion}")

Hola soy Yaqui y soy un Perro, me gusta la Manzana y soy Ingeniero

## Operaciones Logicas

In [23]:
# Empezamos con los operadores logicos <,> <=,>=, and, or (SIEMPRE RETORNA UN BOOLEAND)
b1 = 4 > 5
b2 = 7 > 3
b3 = 14>14
b4 = 14>=14
b4

True

In [24]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

False

In [25]:
print(True * 20)
print(False * 10)

20
0